* {
    margin: 0;
    padding: 0;
}

.wrapper {
    background-color: #fff9c4;
    margin: auto;
    margin-top: 40px;
    /* 20px margin-top added */
    height: auto;
    /* Adjust as needed */
    width: 800px;
    /* Adjust as needed */
    padding: 20px;
    border-radius: 20px;
}

h1 {
    font-family: sans-serif;
    margin-bottom: 20px;
}

.input {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input input {
    border: none;
    background-color: #c5cae9;
    width: 80%;
    /* Adjust as needed */
    height: 45px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0 10px;
}

.input button {
    width: 20%;
    /* Adjust as needed */
    height: 45px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #8c9eff;
    border: none;
}

.tasks {
    background-color: #c5cae9;
    border-radius: 20px;
    list-style: none;
    padding: 20px;
}

.tasks li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.tasks li>div {
    display: flex;
    align-items: center;
}

.tasks li .btns button {
    margin-left: 2px;
}

.tasks li input[type="checkbox"] {
    margin-right: 10px;
}

.task-controls {
    margin-top: 20px;
}

.task-controls button {
    margin-right: 10px;
}

.btn {
    background-color: #fff;
    border-radius: 5px;
    width: 70px;
    /* Adjust as needed */
    height: 30px;
    border: none;
}

.task-controls button {
    background-color: #fff;
    border-radius: 5px;
    width: 70px;
    /* Adjust as needed */
    height: 30px;
    border: none;
}